<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    th:replace="~{layout :: layout(~{::title},~{::body/content()})}">
<link rel="stylesheet" href="style.css">
<head>
<title>ログイン画面</title>
</head>
<body>
  <div id="main">
    <div class="login-card">
      <p class="reqmsg">ユーザーIDとパスワードを入力してください。</p>
      <p class="error" th:text="${errMessage}"></p>
      <form th:action="@{/login}" th:object="${user}" method="post" class="login-form">
      <!-- ユーザーID、パスワードの入力チェックのエラーメッセージ表示は<span>タグでclass名はerrorで作成してください -->
        <input type="text" th:field="*{bookUserId}" placeholder="ユーザーID" class="userInput">
        <input type="password" th:field="*{password}" placeholder="パスワード" class="passInput"><br>
        <input type="submit" value="ログイン" class ="submitBtn">
      </form>
    </div>
  </div>
</body>
</html>
